<div class="row">
  <div class="col-md-6"><h3><p class="text-center"><strong>Contact</h3></div>
  <div class="col-md-6"><h3><p class="text-center"><strong>Source</h3></div>
</div>
<div class="row">
  <div class="col-md-6">
    <h4><p class="text-center">E-mail: polarlion@qq.com</a></p></h4>
    <h4><p class="text-center">BLOG: <a href="http://polarlion.github.io/" target="_blank">polarlion.github.io</a></p></h4>
    <!-- <h4><p class="text-center">Room 1008, Center Building,<br>Beijing Institute of Technology, No. 5 South Zhong Guan Cun Street,<br>Haidian Beijing 100081, P.R. China
    </p></h4> -->
    <h4><p class="text-center">School of Computer Science, <a href="http://english.bit.edu.cn/" target="_blank">Beijing Institute of Technology</a>
  </div>
  <div class="col-md-6">
    <h4><p class="text-center">Website source: <a href="https://github.com/PolarLion/Django-study" target="_blank">https://github.com/PolarLion/Django-study</a></p></h4>
    <h4><p class="text-center">NMT source: <a href="https://github.com/lisa-groundhog/GroundHog" target="_blank">https://github.com/lisa-groundhog/GroundHog</a></p></h4>
    <h4><p class="text-center">SMT source: <a href="http://www.statmt.org/moses/" target="_blank">http://www.statmt.org/moses/</a></p></h4>
  </div>
</div>