<nav class="navbar navbar-inverse navbar-fixed-top navbar-my" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="./home">PolarLion</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li id="nav-home"><a href="./home">Home</a></li>
          <!-- <li id="nav-readme"><a href="./readme">Readme</a></li> -->
          <!-- <li id="nav-contact"><a href="./contactpage">Contact</a></li> -->
          <!-- <li id="nav-mobile"><a href="#mobile">Mobile</a></li> -->
          <li><a href="https://github.com/PolarLion/Django-study" target="_blank">GitHub</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
